@charset "utf-8";

body {
    font-family:"Noto Sans KR", serif;
    /* font-optical-sizing:auto;
    font-weight:weight;
    font-style:normal; */
      
}
#wrap {
    width: 100%;
    margin: 0 auto;
}


.popup-banner {
    display: none; 
    position: fixed;
    bottom: 10px; 
    left: 50%;
    align-self:center;
    transform: translateX(-50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
}




.close-btn {
    background-color: transparent;
    background-image:url(../icons/icon-x-button.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.close-btn:hover {
    background-color: #848484b0; /* 마우스 오버 색상 */
}














header  .logo img {
    width: 350px;
}
.head-top {
    width: 100%;
    display: flex;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    background-color: #fff;
    z-index: 3000;
    height: 80px; /* 높이 추가 */
    align-items: center; /* 수직 중앙 정렬 */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.747);  */
}
.head-top > .head-box {
    position: relative;
    width: 98%;
    margin: 0 auto;
}
.head-top > .head-box > .logo {
    position: absolute;
    margin-left: 20px;
    z-index: 999;
}

.head-top > .head-box > nav {
    position:absolute;
    display: flex;
    top:10px;
    font-weight: bold;
    font-size: 18px;
    align-content: center;
    justify-content: center;
    width: 98%;
    margin-left: 120px;
}

.head-top > .head-box > nav > ul {
    display: flex;
    width: 50%;
    gap: 60px;
    justify-content: space-around;
}
.head-top > .head-box > nav > ul > li {
    display: flex;
}
.head-top > .head-box > nav > ul > li:hover {
    color: #002991d1;
}
.visual {
    position: relative;
    top:100px;
}

.text-overlay {
    position: absolute;
    top: 100px; /* 원하는 위치 조정 */
    left: 50%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.736); /* 텍스트 색상 */
    text-align: center; /* 텍스트 정렬 */
    z-index: 10; /* 슬라이더 위에 표시되도록 설정 */
    line-height: 1.0;
}
.text-overlay > h3 {
    font-size: 20px;
    font-weight: bold;
}
#sec-txt {
    font-size: 37px;
    font-weight: 200;
    line-height: 2.5;
}
.text-overlay > p:last-child {
    font-size: 18px;
}


.slide img {
    width: 100%; /* 슬라이더 이미지가 전체 너비를 차지하도록 설정 */
}

.slide {
    overflow: hidden;
    list-style: none; 
    padding: 0;
    margin: 0;
    z-index: -999;
}



.photo-top {
    width: 1200px;
    margin: 0 auto;
    
}
.photo-top > .photo-wrap {
    align-items: center;
    justify-items: center;
    width: 100%;
    position: relative;
    top:180px;
}
.photo-top > .photo-wrap > h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 50px;
}
.photo-top > .photo-wrap > div > ul {
    display: flex;
    gap: 180px;
    font-size: 20px;
    color: #808080;
    text-align:center;
    margin-bottom: 50px;
}
.photo-top > .photo-wrap > div > ul > li {
    display: flex;
}
.photo-top > .photo-wrap > div > ul > li:hover {
    /* color: rgba(0, 0, 0, 0.748); */
    color: #002991d1;
}
.photo-top > .photo-wrap > div > ul > li:active {
    color:#001244d1;
    font-weight: bold;
}
.photo-bottom {
    width: 100%;
    align-content: center;
    justify-content: center;
}
.photo-bottom > .photo-slide {
    display: flex;
    overflow: hidden; /* 슬라이드가 넘어가는 부분 숨김 */
    position: relative; /* 자식 요소의 절대 위치를 설정하기 위한 기준 */
}
.photo-bottom > .photo-slide > ul {
    display: flex;
    gap: 10px;
    padding: 0; /* 기본 패딩 제거 */
    margin: 0; /* 기본 마진 제거 */
    transition: transform 0.5s ease; /* 애니메이션 효과 */
    
}

.photo-bottom > .photo-slide > ul > li {
    display: flex;
    list-style: none; /* 기본 리스트 스타일 제거 */
    min-width: 10%; /* 각 슬라이드가 화면 전체 너비를 차지하도록 설정 */

}
.photo-bottom > .photo-slide > ul  h3 {
    font-size: 20px;
    color: #808080;
    margin-bottom: 5px;
}
.photo-bottom > .photo-slide > ul  p span {
    color: #808080;
    font-weight: 300;
}
.photo-bottom > .photo-slide > ul  .in-txt {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}
.photo-bottom > .photo-slide > ul  .under {
    margin-top: 10px;
    text-align: start;
}
.photo-bottom > .photo-slide > ul  .under  a {
    padding-left: 25px;
}


.photo-top > .photo-wrap   .arrowicon {
    width: 24px;
    position: relative;
    top:6px;
    left: 15px;
}


.circleprev  img {
    width: 45px;
}
.circlenext img {
    width: 45px;
}


.cirBTN {
    top:180px;
    position: relative;
    display: flex; /* 플렉스 박스를 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 (필요시) */
    margin:40px 0; /* 위아래 여백 설정 (필요시) */
}

button {
    background: transparent; /* 배경 투명 설정 (필요시) */
    border: none; /* 테두리 없애기 (필요시) */
    cursor: pointer; /* 커서 포인터로 변경 */
    margin: 0 250px; /* 버튼 간의 간격 설정 (필요시) */
    padding: 20px;
}

.BTN {
    display: flex; /* 플렉스 박스를 사용하여 정렬 */
    width: 100%;
    position: relative;
    align-content: center;
    justify-content: center;
    top:190px;
    
}
#boxBtn {
    border: 2px solid #002991d1;
    border-radius: 5px;
    padding: 10px;
    background-color: #f3f6ff;
    color: #000;
    


}
#boxBtn:hover {
    color: #fff;
    font-weight: bold;
    background-color: #9da4b6;
    border: 2px solid #002991d1;

}
#boxBtn:active {
    color: #000;
    background-color: #f3f6ff;
    border: 2px solid #002991d1;

}
#boxBtn2 {
    border: 2px solid #002991d1;
    border-radius: 5px;
    padding: 10px;
    background-color: #f3f6ff;
    color: #000;
    
}
#boxBtn2:hover {
    color: #fff;
    font-weight: bold;
    background-color: #9da4b6;
    border: 2px solid #002991d1;
}
#boxBtn2:active {
    color: #000;
    background-color: #f3f6ff;
    border: 2px solid #002991d1;

}
.photoitem {
    width: 1200px;
    margin: 0 auto;
}
.photoitem > .mid-txt {
    width: 100%;
    align-items: center;
    justify-items: center;
    position: relative;
    top:250px;
    text-align: center;
    line-height: 1.9;
    font-size: 14px;
    color: #808080;
}
.photoitem > .sub-section {
    width: 100%;
    align-items: center;
    justify-items: center;
    position: relative;
    top:320px;
}
.photoitem > .sub-section .txt-top {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}




.photoitem > .sub-section > .sub-visual > div {
    margin-bottom: 30px;
}
.photoitem > .sub-section > .sub-visual > .sub-visual-txt {
    width: 100%;
    align-content: center;
    justify-content: center;
    display: flex; /* Flexbox를 사용하여 가로 정렬 */
    word-break:break-all;
    gap: 30px;
    box-sizing: border-box;
    justify-content: space-between; /* 항목 간의 간격을 균등하게 배분 */
    padding: 10px; /* 내부 여백 */
    line-height: 2.3 !important;
    
}


.sub-visual-txt div {
    max-width: 30%; /* 각 항목의 최대 너비 설정 */
}

h3 {
    margin: 0 0 10px; /* 제목 아래 여백 */
    font-size: 20px; /* 제목 크기 조정 */
    font-weight: bold; /* 제목 두껍게 */
}

p {
    margin: 0; /* 문단 여백 제거 */
    font-size: 14px; /* 문단 크기 조정 */
    line-height: 1.5; /* 줄 간격 조정 */
}



.photoitem > .sub-section > .sub-visual > div > video {
    width: 100%;
    
}
#btn-bottom {
    margin-top: 30px;
    border: 2px solid #002991d1;
    border-radius: 5px;
    padding: 10px;
    background-color: #f3f6ff;
    color: #000;
}
#btn-bottom:hover {
    color: #fff;
    font-weight: bold;
    background-color: #9da4b6;
    border: 2px solid #002991d1;
}
#btn-bottom:active {
    color: #000;
    background-color: #f3f6ff;
    border: 2px solid #002991d1;
}
.electric {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top:420px;
    align-items: center;
    justify-items: center;
}
.electric > .ele-top {
    text-align: center;
    margin-bottom: 80px;
}
.electric > .ele-top > h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}
.electric > .ele-top > p {
    font-size: 20px;
    font-weight: 300;
    color: #808080;
    
}
.electric > .ele-bottom {
    display: flex;
    gap: 20px;

}
.electric > .ele-bottom  h3 {
    font-size: 20px;
}
.electric > .ele-bottom  p {
    font-size: 16px;
    width: 450px;
    word-break: keep-all;
    box-sizing: border-box;
    line-height: 1.9;

}
.electric > .ele-bottom   a {
    z-index: 999;
}
.electric > .ele-bottom > .eleitem1  img {
    position: relative;
    left: 10px;
}
.ele-bottom-img > img { 
    padding-top: 60px;
    
}
.ele-bottom-img2 > img {
    padding-top: 60px;
}
.arrowicon {
    position: relative;
    margin-left: 15px;
    top:7px;
    width: 25px;
}
#line-under {
    position: relative;
    top:490px;
    width: 100%;
    border-top: 1px solid #e2e2e2;
}
#who-section {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    top:540px;
}
#who-section > .who {
    width: 100%;
    align-items: center;
    justify-items: center;
    
}
#who-section > .who > .who-top {
    margin-bottom: 50px;
}
#who-section > .who  h2 {
    font-size: 28px;
    font-weight: bold;
}
#who-section

.video_main {
    margin:0 auto 0;
    width:100%;
    height:auto;
    overflow: hidden;
}
.video_main video {
     /*width: 100%;*/
    width: 100%px;
    height: auto;
    min-width: 720px;
    margin: 0 auto;  
    z-index:-1500;
}
.who-content {
    margin-left: 25px;
    font-weight: 400;
}
.who-content h4 {
    color: rgb(255, 255, 255);
    
    text-align: center;
    font-size: 25px;
    letter-spacing: 4px;
    z-index:100;
    position:absolute;
    top:110px;
    border-bottom:2px solid rgba(255, 255, 255, 0.268);
    padding-bottom: 8px;
}
.who-content p {
    color: white;
    text-align: start;
    font-size: 18px;
    letter-spacing: 4px;
    z-index:100;
    position:absolute;
    top:160px;
}

.who-content button {
    font-size: 12px;
    letter-spacing: 4px;
    z-index:100;
    position:absolute;
    display: flex;
    align-items:center;
    top:260px;
    left: -225px;
    background-color: #fff;
    color: #000;
    border-radius:3px;
    width: 120px;
    height: 40px;
}
.who-content button:hover {
    color: #000;
    background-color: #fff;
    border: 2px solid #002991d1;
    border-radius:3px;
    width: 120px;
    height: 40px;
}
#last {
    position: relative;
    width: 1200px;
    top:610px;
    margin: 0 auto;
}
#last > .last-top {
    margin-bottom: 50px;
}
#last > .last-top > h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    
}
#last > .last-bottom {
    display: flex;
    align-content: center;
    justify-content: center;
    line-height: 1.4;
    gap: 30px;
}
#last > .last-bottom > .last1 > div > img {
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    margin-bottom: 15px;
}

#last > .last-bottom > .last1 > div > img:hover {
    -webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#last > .last-bottom   h3 {
    font-size: 20px;
    word-break: keep-all;
    box-sizing: border-box;
}
#last > .last-bottom   p {
    color: #808080;

}
#last > .last-bottom > .last2 > div > img {
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    margin-bottom: 15px;
}

#last > .last-bottom > .last2 > div > img:hover {
    -webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#last   img {
    width: 420px;
}
#footer    img {
    width: 30px;
}
#footer {
    position: relative;
    top:700px;
    text-align: center;
    
}
#footer > .footwrap > .foot-top {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    
}
#footer > .footwrap > .foot-top > h2 a img {
    position: relative;
    top:5px;
    left: 10px;
}
#menu-wrap {
    width: 1200px;
    margin: 0 auto;
    
}
#menu-wrap > .foot-menu {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
#menu-wrap > .foot-menu > .menu {
    display: flex;
    gap: 100px;
}
#menu-wrap > .foot-menu > .menu > ul {
    padding: 60px;
    line-height: 2.2;
    
}
#menu-wrap > .foot-menu > .menu > ul > h3 {
    font-size: 24px;
    font-weight: bold;
}
#menu-wrap > .foot-menu > .menu > ul > li {
    color: #808080;
    font-weight: 300;
}
#menu-wrap > .foot-menu > .menu > ul > li:hover {
    color: #808080;
    font-weight: 500;
}
.foot-bottom {
    width: 100%;
    background-color: #f3f3f3;
    padding-top: 60px;
}
.foot-bottom  {
    position: relative;
    top:90px;
}
.foot-bottom > .foot-bottom-1 > ul {
    margin-bottom: 20px;
}
.foot-bottom > .foot-bottom-1 > ul > li span {
    margin-left: 20px;
    font-size: 26px;
    font-weight: bold;
}
.foot-bottom > .foot-bottom-2 {
    display: flex;
    align-self: center;
    justify-self: center;
    padding-top: 50px;
}
.foot-bottom > .foot-bottom-2 > ul {
    display: flex;
    gap: 80px;
}
.foot-bottom > .foot-bottom-3 {
    display: flex;
    align-self: center;
    justify-self: center;
    padding-top: 50px;

}
.foot-bottom > .foot-bottom-3 > ul {
    display: flex;
    gap: 100px;
    margin-bottom: 30px;
}
.foot-bottom > .foot-bottom-3 > ul > li:hover {
    font-weight: 500;
}
@media  screen and (min-width: 415px) and (max-width: 1024px) {
    .head-top > .head-box > nav {
        display: none;
    }
    .text-overlay {
        top: 50px; /* 원하는 위치 조정 */
    }
    .text-overlay > h3 {
        font-size: 16px;
    }
    #sec-txt {
        font-size: 30px;
    }
    .text-overlay > p:last-child {
        font-size: 16px;
    }
    .photo-top {
        width: 1000px;
        
    }
    button {
        margin: 0 150px; /* 버튼 간의 간격 설정 (필요시) */
        padding: 10px;
    }
    .photoitem > .mid-txt > .txt > ul {
        font-size: 12px;
        position: absolute;
        left: 150px;
    }
    .sub-section > .txt-top {
        position: relative;
        padding-top: 80px;
        left: -80px;
    }
    .photoitem > .sub-section > .sub-visual > div > video {
        max-width: 80%; /* 부모 요소의 80%로 설정 */
        position: relative;
        left: 20px;
        top:60px;
        padding-bottom: 30px;
        
    }
    .photoitem > .sub-section > .sub-visual > .sub-visual-txt {
        width: 83%;
        gap: 25px;
        
    }
    #btn-bottom {
        position: relative;
        left: -80px;
    }
    .electric {
        width: 1000px;
        left: -80px;
    }
    #who-section > .who > .sub-visual2 > div > video {
        max-width: 80%;
        position: relative;
        left: 20px;
        top:30px;
        padding-bottom: 30px;
    }
   .who-content button {
    left: -120px;
    width:98px;
    }
    #last {
        width: 1000px;
    }
    #menu-wrap > .foot-menu {
        width: 1000px;
    }
    #menu-wrap > .foot-menu > .menu > ul > li h3 {
        font-size: 18px;
    }
    
    
    

}























